@import "../../../styles/mixins.scss";

$canvas_width: 1920px;
$canvas_height: 1080px;

.container {
    width: $canvas_width;
    height: $canvas_height;
    overflow: hidden;
    color: #000;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tfe {
        margin-top: 50px;
        font-size: 72pt;
        font-family: 'Futura PT';
        font-weight: bold;
    }

    .border {
        height: 4px;
        width: 55%;
        background-color: #000;
    }

    .tfeJP {
        margin: 25px 0;
        font-size: 36pt;
        line-height: 24pt;
        font-family: 'Noto Sans CJK JP';
        font-weight: bold;
    }
}